<footer>
	  <br/>
	  <br/>
	  <form action="/logout" method="post">
		<input type="submit" name="logout" value="Déconnexion" />
	  </form>
      <p>&copy; 2019 - AppTest</p>
    </footer>

  </div>


</body>

</html>
