<%- include("_header") -%>

<!DOCTYPE html>
<html>
<head>
<title>Rickroll!</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<h1>Web Architectures</h1>
<h2>Healing Deux</h2>
<p>About</p>
<li>bip bop</li>
<img src="/IMAGES/Rickroll.jpg">

</body>
</html>

<%- include("_footer") -%>
