<form action="/faq/motcle" method="post" id="formmotcle">
    <div>
        <label for="question">Mot clé à chercher :</label>
        <input type="text" id="recherche" name="recherche">
    </div>
    <div class="button">
        <button type="submit">Rechercher</button>
    </div>
</form>
