<!DOCTYPE html>
<html>
<head>
<title>Rickroll!</title>
<link rel="stylesheet" type="text/css" href="style.css">
<style type="text/css">
</style>
</head>
<body>

<h1>Web Architectures</h1>
<h2>Healing Deux</h2>
<p>Index</p>
<hr>
<ul style="text-align:center;display:flex">
  <li><a href="home.ejs">test</a></li>
  <li><a href="faq.ejs">FAQ</a></li>
  <li><a href="about.ejs">About</a></li>
</ul>
<hr> 
<li>test test home.ejs</li>
<img src="/IMAGES/Rickroll.jpg">

</body>
</html>
